.app.dark{
	--primary: #7A1B1B;
	--secondary: #C79791; 

	--light-grey: #d6d6d6;
	--gary: #333;

	--bg-gray: #3d3d3d;
	--bg-light-grey: #252525;

	--light-black: #b38f8f;
	--black: #535353;

	--white: #ffffff;
}