.header{
	padding: 60px 0;
	h1{
		max-width: 570px;
		color: var(--gary);
		font: var(--font-xxl);
	}
	&__seatings{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
}

@media (max-width: 512px){
	.header{
		&__container{
			display: flex;
			gap:40px;
			flex-direction: column;
		}
	}
}