.map__item{
	padding: 1px 20px;
	font: var(--font-xxs);
	color: var(--light-black);
	border-radius: 20px;
	border: 1px solid var(--secondary);
	display: inline-block;
	span{
		color: var(--primary);
		margin-left: 5px;
	}
	&:hover{
		background: var(--secondary);
		border: 1px solid var(--white);
		color: var(--white);
		span{
			color: var(--white);
		}
	}
	&:active{
		background: var(--secondary);
		border: 1px solid var(--secondary);
		color: var(--white);
		span{
			color: var(--white);
		}
	}
	&_active{
		background: var(--secondary);
		border: 1px solid var(--white);
		color: var(--white);
		span{
			color: var(--white);
		}
	}
}